<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins');
        :root {
            --accentColor: darkblue;
        }
        body {
            height:100vh;
            width:100vw;
            font-family: 'Poppins', sans-serif;
            overflow: hidden;
            background-color: rgb(14, 14, 16);
            opacity: 0.99;
            background-image:  linear-gradient(#6a6a6a 1px, transparent 1px), linear-gradient(to right, #6a6a6a 1px, rgb(4, 4, 6) 1px);
            background-size: 30px 30px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            padding:0.5rem;
            border-radius: 0.25rem;
            border:2px solid transparent;
            background-color: var(--accentColor);
            color:aliceblue;
        }
        button:hover {
            background-color: transparent;
            border:2px solid var(--accentColor);
            color:var(--accentColor);
        }
        #register {
            height: fit-content;
            width: fit-content;
            padding: 2rem;
            border-radius: 1rem;
            background-color:white;
        }
        .interest-imgs {
            width: 100px;
            position: relative;
            border-radius:0.5rem;
        }
        .interest-imgs::after {
            content: attr(class);
            width: 100px;
            height:100px;
            color:red;
            background-color: black;
            z-index: 1;
            top:0;
            left:0;
        }
        .interest-imgs:hover {
            box-shadow: 0 0 0 5px rgba(1, 1, 194, 0.371);
        }
        input[type=checkbox] {
            position: absolute;
            z-index: 1;
            
        }
        input[type=text]  {
            width: 100%;
        }
        input[type=email]  {
            width: 100%;
        }
        input[type=password]  {
            width: 100%;
        }
        .interest-text {
            /* position: absolute; */
            top:1px;
            z-index: 1;
            color:red;
        }
        #unsubscribe {
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 0.5rem;
        }

    </style>
</head>