<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/index.css">
    <style>
        /* @import url('https://fonts.googleapis.com/css?family=Poppins');
        :root {
            --accentColor:#00ffa6;
            --accentColor2:#00ffa6;
            --accentColor3:#00ffa6;
        }
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
        button {

        }
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            background-color: teal;
        }
        nav > ul {
            margin-right: 2rem;
        }
        nav > h2 {
            margin: 0;
        } */
    </style>
</head>
<body>
    <header>
        <nav>
            <h2>NewsToday.</h2>
            <ul>
                <a href="">A</a>
                <a href="">B</a>
                <a href="">C</a>
            </ul>
            <a href="/register"><button>Register</button></a>
        </nav>
    </header>
    <main>
        <h1>Hello There.</h1>
        <!-- <a href="/register">Register</a> -->
    </main>
    <footer></footer>
</body>
</html>