<html>
    <%- include('head.ejs') %>
    <body>
        <div id="login">
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td colspan="2"><h2>Log In</h2></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" name="email" id="email" placeholder="something@gmail.com" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input type="password" name="password" id="password" required></td>
                    </tr>
                    <tr>
                       <td colspan="2" style="text-align: center;"><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
